.brand-use {
  width: 100%;
  padding: $contentPadding;
  h3 {
    text-align: center;
    font-size: 2rem;
  }
  .brand-use-logo {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      // For vertical logo
      &.vertical {
        width: unset;
        height: 100%;
      }
    }
  }
}
