.hero {
  background: $primary;
  padding: 80px 0;
  .container {
    .hero-text {
      color: $light;
    }
    .hero-img {
      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}

@import "svgAnimation";
