.pricing {
  padding: $contentPadding;
  background: $primaryHover;

  h1 {
    color: $secondary;
  }
  .pricing-box {
    padding: 20px;
    border-radius: 15px;
    background: $secondary;
    color: $light;

    &.popular {
      background: $light;
      color: $dark;
      .pricing-features {
        .btn-global {
          background: $secondary;
          color: $light;
          &:hover {
            background: $secondaryHover;
          }
        }
      }
    }
    .pricing-head {
      text-align: center;
      .pricing-head-price {
        padding: 20px 0;
        h4 {
          margin: 0;
          font-size: 3rem;
          span {
            font-size: 1rem;
          }
        }
      }
      .pricing-head-name {
        padding: 10px 0;
        h6 {
          margin: 0;
          font-size: $headingSize2;
        }
      }
    }
    .pricing-features {
      padding: 40px 0;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          text-align: center;
          margin: 5px 0;
          font-size: $paragraphSize;
        }
      }
      .btn-global {
        background: $light;
        color: $dark;
        &:hover {
          background: $lightHover;
        }
      }
    }
  }
}
