@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: white;
  overflow-x: hidden;
}

button {
  box-shadow: none !important;
}

.custom-shadow {
  box-shadow: 0px 0px 2px 1px #000 !important;
}

.btn-global {
  background: #3d5a80;
  padding: 10px 25px;
  border-radius: 0;
  color: white;
  position: relative;
  transform-style: preserve-3d;
}
.btn-global::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: -5px;
  left: 5px;
  right: -5px;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  transform: translateZ(-1px);
}
.btn-global:hover {
  background: #28384d;
  color: white;
  transform: scale(1.03);
  transition: 0.2s;
}
.btn-global:hover::before {
  display: block;
  transition: 1s;
}

.headingContent {
  font-size: 2rem;
}

.navbar {
  min-height: 90px;
  background: #789de0;
}
.navbar .navbar-brand {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
}
.navbar .navbar-brand span {
  color: #3d5a80;
}
.navbar .navbar-brand #explainMeans {
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: none;
}
.navbar .navbar-nav .nav-item {
  margin-left: 10px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  padding: 0.6rem 1rem;
  position: relative;
  margin: auto;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background: #3d5a80;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}
.navbar .navbar-nav .nav-item .nav-link.nav-button {
  background: #3d5a80;
}
.navbar .navbar-nav .nav-item .nav-link.nav-button:hover {
  background: #28384d;
}
.navbar .navbar-nav .nav-item .nav-link.nav-button:hover::after {
  width: 0% !important;
}

.hero {
  background: #789de0;
  padding: 40px 0;
}
.hero .container .hero-text {
  color: white;
}
.hero .container .hero-img img {
  width: 100%;
}

@keyframes heroImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
.features {
  padding: 40px 0;
}
.features .f-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
  border-radius: 10px;
  border: 2px solid transparent;
}
.features .f-box:hover {
  transition: 0.5s;
  border: 2px solid #3d5a80;
}
.features .f-box .f-head {
  padding: 10px 0;
}
.features .f-box .f-head i {
  font-size: 3rem;
}
.features .f-box .f-title h3 {
  margin: 0;
}
.features .f-box .f-content {
  padding: 10px 0;
}
.features .f-box .f-content p {
  margin: 0;
}

.about .row {
  padding: 40px 0;
}
.about .about-img img {
  width: 100%;
}

.testimonials {
  padding: 40px 0;
}
.testimonials .testi-box {
  min-height: 200px;
  padding: 20px;
  border-radius: 7px;
}
.testimonials .testi-box .testi-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testimonials .testi-box .testi-head .testi-head-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.testimonials .testi-box .testi-head .testi-head-name {
  margin-left: 10px;
}
.testimonials .testi-box .testi-head .testi-head-name .testi-fullname {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
.testimonials .testi-box .testi-head .testi-head-name .testi-profile {
  margin: 0;
  font-size: 0.9rem;
  color: #cecece;
}
.testimonials .testi-box .testi-content {
  margin-top: 20px;
}
.testimonials .testi-box .testi-content p {
  font-weight: 300;
}

.brand-use {
  width: 100%;
  padding: 40px 0;
}
.brand-use h3 {
  text-align: center;
  font-size: 2rem;
}
.brand-use .brand-use-logo {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-use .brand-use-logo img {
  width: 100%;
}
.brand-use .brand-use-logo img.vertical {
  width: unset;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 98;
  }

  .navbar .navCollapse {
    position: absolute;
    background: #3d5a80;
    left: -250px;
    top: 0;
    bottom: 0;
    right: auto;
    width: 250px;
    min-height: 100vh;
    z-index: 99;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navCollapse:hover .nav-link:hover {
    background: #28384d;
  }
  .navbar .navCollapse.show {
    left: 0px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-nav .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .navbar .navbar-nav .nav-item .nav-link:hover::after {
    width: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  section.hero .hero-text {
    text-align: center !important;
  }

  section.features .f-box {
    border: none !important;
  }

  section.about .about-text {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .navbar .navbar-brand #explainMeans {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
